<div class="container-fluid form-horizontal">

    <div class="case-content-box col-xs-12 col-lg-12">
        
        <table class="table table-bordered table-striped table-hover chargeCode-search" width="100%" >
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>
                    	<div class="col-xs-12 pull-right">
				            <button type="button" class="btn btn-xs btn-primary pull-right" ng-click="addChargeCode()" title="Add">
				                <span class="glyphicon glyphicon-plus"></span>
				            </button>
				        </div>
                    </th>
                </tr>
            </thead>
            <tbody>

            <tr ng-repeat="chargeCode in data.chargeCodes">

                <td>{{chargeCode.code}}</td>
                <td>{{chargeCode.shortDescription}}</td>
                <td>
                    <button type="button" class="btn btn-xs btn-primary" ng-click="editChargeCode(chargeCode)" title="Edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>

    </div>


</div>