<div id="menu1" class="tab-pane " ng-init="initFinancialPosting()">
	<div class="case-content-box">
		<table width="100%" border="1" class="charges-table table table-bordered table-striped">
			<tbody>
				<tr>
					<th>Charge code</th>
					<th>Charge Descr</th>
					<th>Debit party</th>
					<th>Credit party</th>
					<th>DR Settlement Currency</th>
					<th>DR Settlement Amount</th>
					<th>CR Settlement Currency</th>
					<th>CR Settlement Amount</th>
					<th>DR Account</th>
					<th>CR Account</th>
					<th></th>
					
				<tr ng-repeat="settlement in deal.dealCharge | filter:{chargesWhen:'NOW'}"
					ng-include="getPostingChargeTableTemplate(settlement)">
			</tbody>
		</table>	
	</div>

	<div class='col-xs-12 p0'>
       <button type="button" class="btn btn-sm btn-default pull-left font-size f12 mr20"   ng-click="selectChargesContent($root.deals.charge.tabs[2])">
       		BACK
       </button>
      
       <button type="submit" class="btn btn-sm btn-success" ng-click="saveToReview()">PROCEED <span class="glyphicon glyphicon-forward" aria-hidden="true"></span></button>
	</div>
</div>