<div class="container-fluid form-horizontal">

    <div class="case-content-box col-xs-12 col-lg-12">

        <table class="table table-bordered table-striped table-hover customer-search" width="100%" >
            <thead>
                <tr>
                    <th>Charge Code</th>
                    <th>Charge Type</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th><div class="col-xs-12 pull-right">
                        <button type="button" class="btn btn-xs btn-primary pull-right" ng-click="addChargeStructure()" title="Add">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div></th>
                </tr>
            </thead>
            <tbody>

            <tr ng-repeat="chargeStructure in data.chargeStructures">

                <td>{{chargeStructure.chargeCode}}</td>
                <td>{{chargeStructure.chargeTypeCode}}</td>
                <td>{{chargeStructure.currencyCode}}</td>
      			<td>{{chargeStructure.amount}}</td>
                          
                <td>
                    <button type="button" class="btn btn-xs btn-primary" ng-click="editChargeStructure(chargeStructure)" title="Edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>

    </div>


</div>