<!--add/edit corporate-->

	<h5 >{{linkTitle}}</h5>
	<div class="form-group  " >
		<label class="control-label col-xs-5 ">Name:</label>
		<div class="col-xs-7  "><input type="text" name="" /></div>
	</div>
	<div class="form-group  " >
		<label class="control-label col-xs-5 ">Address:</label>
		<div class="col-xs-7  "><input type="text" name="" /></div>
	</div>
	<div class="form-group  " >
		<label class="control-label col-xs-5 ">Telephone:</label>
		<div class="col-xs-7  "><input type="text" name="" /></div>
	</div>
	<div class="form-group  " >
		<label class="control-label col-xs-5 ">Cellphone:</label>
		<div class="col-xs-7  "><input type="text" name="" /></div>
	</div>
	<div class="form-group  " >
		<label class="control-label col-xs-5 ">Account No.:</label>
		<div class="col-xs-7  "><input type="text" name="" /></div>
	</div>
	<div class="form-group  " >
		<label class="control-label col-xs-5 ">&nbsp;</label>
		<div class="col-xs-7  ">
			<button type="submit" class="btn btn-xs btn-warning">SAVE</button>
			<button type="submit" class="btn btn-xs btn-default mr10">CANCEL</button>
		</div>
	</div>

<!--//add/edit corporate-->