<!-- <!doctype html>
<html>
<head>
<title>Customer on boarding</title>
<link href="../../../assets/css/bootstrap.css" rel="stylesheet">

<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

.tabsdemoDynamicHeight md-content {
	background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
	background: #f6f6f6;
	border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
	background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
	margin-top: 0;
}
</style>

<script src="../../../assets/js/angular.js"></script>
<script src="../../../assets/js/angular-resource.js"></script>
<script src="../../../assets/js/angular-sanitize.js"></script>
<script src="../../../assets/js/angular-route.js"></script>
<script src="../../../assets/js/ui-bootstrap-1.1.0.js"
	type="text/javascript"></script>
	<script src="../../../assets/js/ui-bootstrap-tpls-1.1.2.js"
	type="text/javascript"></script>
<script src="../../config.js"></script>
<script src="../../shared/services.js"></script>
<script src="../../shared/controllers.js"></script>


<script src="controllers.js"></script>
<script src="models.js"></script>
<script src="services.js"></script>

</head>
<body ng-app="customer.app">
 -->	<div class="container-fluid">
		<h1>Customer on boarding</h1>
		<div ng-cloak class="ng-cloak">
			<form  name="customerForm" role="customerForm" >
				<div class="form-group">
					<div id="main">

						<!-- angular templating -->
						<!-- this is where content will be injected -->
						<div ng-view></div>
					</div>
				</div>
			</form>
		</div>
	</div>


<!-- </body>
</html> -->