<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}	
.modal-body {
  overflow-x: auto;
}

</style>

<div class="modal-header" ng-controller="customerController" >
 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title">Search Customer</h3>
</div>	
	<div class="modal-body">
		<div class="form-horizontal" > 
		<form class="form-horizontal" name="searchForm" role="form">
		<div class="row form-group">
			<div class="col-sm-2">
				<label for="Name">Customer Name:</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control" type="text" ng-model="query.name">
			</div>
			<div class="col-sm-2">
				<label>Customer Surname:</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control" type="text" ng-model="query.surname">
			</div>
		</div>

		<div class="row form-group">
			<div class="col-sm-2">
				<label>ID number:</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control" type="text" ng-model="query.idNumber">
			</div>
			<div class="col-sm-2">
				<label>Passport number:</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control" type="text"
					ng-model="query.passportNumber">
			</div>
		</div>

		<div class="row form-group">
			<div class="col-sm-2">
				<label>Registration No:</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control" type="text"
					ng-model="query.registrationNo">
			</div>
			<div class="col-sm-2">
				<label>Trade Name:</label>
			</div>
			<div class="col-sm-4">
				<input class="form-control" type="text" ng-model="query.tradeName">
			</div>
		</div>
		
		<div class="row form-group" >
			<div class="col-sm-12">
				<button type="button" class="btn btn-info" ng-click="search()" >Search</button>
				<button type="button" class="btn btn-info" ng-model="reset" ng-click="resetForm()">Clear</button>
			</div> 	
		</div> 
	</form>
    <div class="container-fluid" ng-show="searchReasult">
  	<hr>
			<h4>Search Results for  {{customer.tradeName}} </h4>
			<p>{{searchQuery.tradeName}}</p>
			<table class="table table-bordered" >
				<thead>
					<tr>
						<th>CIF Key</th>
						<th>TradeName</th>
						<th>Registration No</th>
						<th>Name</th>
					   <!--  <th>Surname</th>
						<th>ID Number</th>
						<th>Passport Number</th>-->
						<th>KYC Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="customer in customers" >
						<td>
						<a href="index.html#/Financial-Institution" 
						ng-click="select(customer); selected.customer = customer">{{customer.cifkey}}
					    <td> <a href="index.html#/Financial-Institution" 
						ng-click="select(customer); selected.customer = customer">{{customer.tradeName}}</td>
						<td>{{customer.registrationNumber}}</td>
						<td>{{customer.name}}</td>
						<!-- <td>{{customer.surname}}</td>
						<td>{{customer.idNumber}}</td>
						<td>{{customer.passportNumber}}</td> -->
						<td>{{customer.kycStatus}}</td>
					</tr>
				</tbody>
			</table>
			 Selected: <b>{{ selected.customer.cifkey }}</b>
		</div>
	</div>
	<div class="modal-footer">
	   <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	   <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
    </div>
   	</div>   
 </body>
</html>