<div class="container-fluid form-horizontal">

    <div class="case-content-box" class="col-xs-12 col-lg-12">

        <h3>Contact</h3>

        <div class="form-group">
            <label class="control-label">Id:</label>
            {{data.activeCustomer.activeContact.id}}
        </div>

		<div class="form-group">
            <label class="control-label col-xs-5">Name:</label>
            <div class="col-xs-7">
                <input type="text" class="form-control input-sm" ng-model="data.activeCustomer.activeContact.name" />
            </div>
        </div>
        
        <div class="form-group">
        	<label class="control-label col-xs-5">Contact Type: </label> 
        	<div class="col-xs-7">
		    	<select id="contactType" ng-options="contactType.id as contactType.description for contactType in allContactTypes" ng-model="data.activeCustomer.activeContact.contactType" class="form-control" >
					<option value="">-- choose type --</option>
				</select>
			</div> 
		</div>
		
        <div class="form-group">
            <label class="control-label col-xs-5">Mobile Number:</label>
            <div class="col-xs-7">
                <input type="text" class="form-control input-sm" ng-model="data.activeCustomer.activeContact.mobileNumber" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-xs-5">Office Number:</label>
            <div class="col-xs-7">
                <input type="text" class="form-control input-sm" ng-model="data.activeCustomer.activeContact.officeNumber" />
            </div>
        </div>
 		
 		<div class="form-group">
            <label class="control-label col-xs-5">Email:</label>
            <div class="col-xs-7">
                <input type="text" class="form-control input-sm" ng-model="data.activeCustomer.activeContact.email" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-xs-5">Alternative Email:</label>
            <div class="col-xs-7">
                <input type="text" class="form-control input-sm" ng-model="data.activeCustomer.activeContact.alternativeEmail" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-xs-5">Fax:</label>
            <div class="col-xs-7">
                <input type="text" class="form-control input-sm" ng-model="data.activeCustomer.activeContact.fax" />
            </div>
        </div>
		
		
		
		<div class="form-group">
            <label class="control-label col-xs-5">Preferred Method of Communication:</label>
            <div class="col-xs-7">
                <select id="methodType" ng-options="methodType.code as methodType.description for methodType in allCommunicationTypes" ng-model="data.activeCustomer.activeContact.method" class="form-control" >
					<option value="">-- choose type --</option>
				</select>
            </div>
        </div>
		
		
				
 		<div class="form-group">
            <button class="btn btn-sm btn-default" ng-click="saveContact()">Save</button>
            <button class="btn btn-sm btn-default" ng-click="cancelEditContact()">Cancel</button>
        </div>

    </div>

</div>