<div class="container-fluid form-horizontal">

    <div class="case-content-box col-xs-12 col-lg-12">
        <table class="table table-bordered table-striped table-hover customer-search" width="100%" >
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Product</th>
                    <th>Section Type Qty</th>
                    <th>
                        <div class="col-xs-12 pull-right">
                            <button type="button" class="btn btn-xs btn-primary pull-right" ng-click="addMessageType()" title="Add">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="messageType in data.messageTypes">

                    <td>{{messageType.code}}</td>
                    <td>{{messageType.description}}</td>
                    <td>{{arrayFilter(allProducts,{id:messageType.productId},'description',true)}}</td>
                    <td>{{messageType.messageSectionDTOList.length}}</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary" ng-click="editMessageType(messageType)" title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>


</div>