<div class="form-horizontal">
	<div class="case-content-box">
		<h3>Customer Details <span class="note pull-right">Please note all fields with an asterisk(*) are mandatory</span></h3>

		<div class="application_box">
			<form name="customerForm">

				<div class="form-group">
					<label class="control-label col-xs-5">Customer name</label>
					<div class="col-xs-7">{{customer.name}}</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-5">Identification</label>
					<div class="col-xs-7">{{customer.idNumber ? customer.idNumber : customer.registration}}</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-5">Account Number</label>
					<div class="col-xs-7">{{customer.defaultAccount.accountNo}}</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-5">KYC Status</label>
					<div class="col-xs-7">{{customer.kycStatus}}</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-5">Relationship Manager</label>
					<div class="col-xs-7">{{customer.rmName}}</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-5">Contact Person <span class="note pl10">*</span></label>
					<div class="col-xs-7">
						<input type="text" class="form-control" ng-model="customer.defaultContact.name" placeholder="Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5">Contact Email <span class="note pl10">*</span></label>
					<div class="col-xs-7">
						<input type="email" class="form-control" ng-model="customer.defaultContact.email" placeholder="Contact Email" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5">Contact Telephone </label>
					<div class="col-xs-7">
						<input type="text" class="form-control" ng-model="customer.defaultContact.officeNumber"
							placeholder="Contact Telephone">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5">Contact Mobile</label>
					<div class="col-xs-7">
						<input type="text" class="form-control" ng-model="customer.defaultContact.mobileNumber"
							placeholder="Contact Mobile">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5">Contact Fax</label>
					<div class="col-xs-7">
						<input type="text" class="form-control" ng-model="customer.defaultContact.fax" placeholder="Contact Fax">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5">Preferred Contact Method</label>
					<div class="col-xs-7">
						<select ng-model="customer.defaultContact.method">
							<option value="email">Email</option>
							<option value="tel">Office</option>
							<option value="mobile">Mobile</option>
							<option value="fax">Fax</option>
						</select>
					</div>
				</div>

			</div>
			
			<div class="mb40">
				<button class="btn btn-sm btn-success" href="" ng-click="forceNav('deal')" ng-disabled=!customerForm.$valid>
					PROCEED <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
				</button>
			</div>

		</form>
		
	</div>
</div>