<div id="menu1" class="tab-pane">
    <table width="100%" border="1" class="charges-table table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Charge code</th>
                <th>Charge Descr</th>
                <th>Debit party</th>
                <th>Credit party</th>
                <th>DR Settlement Currency</th>
                <th>DR Settlement Amount</th>
                <th>CR Settlement Currency</th>
                <th>CR Settlement Amount</th>
                <th>DR Account</th>
                <th>CR Account</th>
                <th class="col-xs-5"></th>
                
            <tr class="itemcheck" ng-repeat="settlement in deal.dealCharge | filter:{chargesWhen:'NOW'}"
                ng-include="getPostingChargeTableMakerTemplate(settlement)">
        </tbody>
    </table>
</div>