   	<td>{{charge.chargeCode}}</td>
	<td class="no-wrap-parent">{{charge.description}}</td>
	<td>{{charge.debitPostingClassification}}</td>
	<td>{{charge.creditPostingClassification}}</td>
	<td>{{charge.debitCreditCurrencyTypeCode}}</td>
	<td>{{ charge.amount | number:2 || '0.00' }}</td>
	<td>{{charge.chargesWhen}}</td>
	
	<td style="white-space: nowrap">
   					
        <div class="buttons">
          <a class="btn btn-xs btn-info font-size f11" ng-click="editCharge(charge)" type="button">EDIT</a>
          <!--button class="btn btn-danger" ng-click="removeUser($index)">del</button-->
        </div>  
    </td>
